body{
  background-color: #333333;
  color:#ccc; 
  padding: 10px; 
}
.employeeDetails{
    background-color: #222;
    .titleOfEmployee{
        color:yellow;
    }
    .notesOfEmployee{
        font-style: italic;
        color: #777;
    }
}